.boutons{
   text-align: center;
   width: 40%;
   margin: 2%;
   border-radius: 8px;
   padding: 3%;
   display: flex;
   background-color: rgb(126, 120, 120);
   
   color: white;
}

.icone{
   height: 1em;
   margin-bottom: 8%;
}

.icone img{
   width: 10%;
   height: auto;
}

#lastB{
   width: 100%;
   padding: 20%;
}

#listeBoutons{
   display:flex;
   flex-flow: row wrap;
}