body{
   background-image: url("../HTML/ressources/fond.png");
   background-repeat: no-repeat;
   background-size: cover;
}

#header_dv{                         /*temporaire*/
   background-color: grey;
   border-radius: 50px;
   opacity: 70%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}

#footer_dv{
   background-color: black;
   opacity: 70%;
   text-align: center;
   display: flex;
   justify-content: space-between;
   width: 100%;
   position: fixed;
   bottom: 0%;
}

.titre{
   font-family:'Times New Roman', Times, serif;
   margin: 2em;
   text-decoration: none;
   color: white;
}