html {
   height: 100%;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-repeat: repeat;
   background-size: cover;
   background-color: rgb(245, 240, 215);
   margin: 0;
} 

#header_dv{                         /*temporaire*/
   background-color: #49CCC3;
   border-radius: 50px;
   opacity: 80%;
   text-align: center;
   display: flex;
   justify-content: space-between;
   /*position: sticky;*/
   top: 0%;
   /*width: 100%;*/
   height: 6em;
   margin: 8px;
}

#footer_dv{
   margin-top: auto;
   background-color: black;
   opacity: 70%;
   text-align: center;
   display: flex;
   justify-content: space-around;
   width: 100%;
}

.titre{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   opacity: 100%;
}

.titre_header{
   font-family:'Times New Roman', Times, serif;
   margin: 1em;
   text-decoration: none;
   color: white;
}
.bloc{
   opacity: 70%;
   width: 50%;
   border-radius: 10px;
   background-color: white;
   padding: 1em;
   margin-left: 25%;
   margin-top: 5em;
   margin-bottom: 3em;
   display: flex;
   flex-direction: column;
}

.centrer{
   display: flex;
   margin-top: 1em;
   justify-content: center;
   align-items: center;
}

a{
   text-decoration: none;
   color: white;
}

.hyprnoir{
   color: black;
}